/* adding split components to fit half of the screen  */
.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

html {
  height: 100%;
}

/* creating components on the left of the split screen */
.left {
  background-color: rgb(253, 253, 163);
  left: 0;
}

/* creating components on the right of the split screen */
.right {
  background-image: url("restaurant.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  right: 0;
}

/* creating components in the center of their parent */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* formatting the title text */
.title {
  color: rgb(83, 22, 22);
  text-align: center;
}



/* setting default format for the page */
body {
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
  margin-left: 0;
  margin-top: 0;
  margin-right: 0;
  background-color: rgb(253, 253, 163);   
}

/* formatting the login form border */
form {border: 3px solid #f1f1f1a8;}

/* formatting the username and password input blocks */
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* formatting buttons */
button {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

/* creating hover effect over buttons */
button:hover {
  opacity: 0.8;
}

/* formatting cancel button (to be different than default buttons) */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #ec5c52;
}

/* setting a background to the login container */
.container {
  background-color: white;
  opacity: 1;
  padding: 16px;
}


/* ---- adding css for items page --- */


/* modifying the format of the title text */
.items-title {
  color: white;
  text-align: center;
  font-size: 50px;
}

/* modifying the formato of the subtitle text */
.items-subtitle {
  color: white;
  text-align: center;
  font-size: 20px;
}

/* setting up an image as the background of the header */
.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),  url("restaurant.jpg");
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* Setting the format of the table  */
.content-table{
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  min-width: 600px;
}

/* Setting the format of the table's head row */
.content-table thead tr{
  background-color: #009879;
  color: white;
  text-align: left;
  font-weight: bold;
}

.content-table th, .content-table td{
  padding: 12px 15px;
}

/* setting bottom borders to each row in the body of the table */
.content-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

/* Setting a white background to table's body */
.content-table tbody tr:nth-of-type(even) {
  background-color: 1px solid #f3f3f3;
}

/* setting a green bottom most border to the table dynamically */
.content-table tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}