html {
    height: 100%;
}

/* setting overall format of the page */
body {
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    margin-left: 0;
    margin-top: 0;
    margin-right: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(253, 253, 163);   
}

/* modifying the format of the title text */
.title {
    color: white;
    text-align: center;
    font-size: 50px;
}

/* modifying the formato of the subtitle text */
.subtitle {
    color: white;
    text-align: center;
    font-size: 20px;
}

/* setting up an image as the background of the header */
.hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),  url("restaurant.jpg");
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

/* Centering components in the middle of the screen */
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

/* Setting the format of the table  */
.content-table{
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 600px;
}

/* Setting the format of the table's head row */
.content-table thead tr{
    background-color: #009879;
    color: white;
    text-align: left;
    font-weight: bold;
}

.content-table th, .content-table td{
    padding: 12px 15px;
}

/* setting bottom borders to each row in the body of the table */
.content-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

/* Setting a white background to table's body */
.content-table tbody tr:nth-of-type(even) {
    background-color: 1px solid #f3f3f3;
}

/* setting a green bottom most border to the table dynamically */
.content-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}